// Cambiar colores del bootstrap
$theme-colors: (
    "primary": #2c3e50,
    "secondary": #1d6042,
    "success": #198754,
    "info": #0dcaf0,
    "warning": #ffc107,
    "danger": #dc3545,
    "light": #f8f9fa,
  );
  // importar estilos de boostrap
  @import "node_modules/bootstrap/scss/bootstrap";
